<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <div class="headerText">ID-Assist (Beta)</div>
      <div class="d-flex pointerCursor" (click)="openModal()">
        © 2022 Asterial
      </div>
    </div>
  </nav>
</div>

<div class="showBorder">
  <div class="row itemLabel m-auto">
    <div class="col showBorder col col-lg-2 itemPrompt">
      <div class="centerText">Prompt</div>
    </div>
    <div
      class="col showBorder itemInputOutput"
      (click)="selectTab('input')"
      [ngClass]="{ isActive: showInput, itemInputOutput: showOutput }"
    >
      <div class="centerText">Input</div>
    </div>
    <div
      class="col showBorder itemInputOutput"
      (click)="selectTab('output')"
      [ngClass]="{ isActive: showOutput, itemInputOutput: showInput }"
    >
      <div class="centerText">Output</div>
    </div>
  </div>
  <div class="row m-auto">
    <div class="col showBorder col col-lg-2">
      <div
        #promptList
        class="d-flex btn-group flex-column bd-highlight mb-3 showScroll"
        role="group"
      >
        <ul class="list-group" *ngFor="let item of promptData; let i = index">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <button
                class="btn fw-bold promptText"
                [ngClass]="{ activePromptBtn: currentPromptBtn == 'btn' + i }"
                (click)="setPromptData(item.data, 'btn' + i, i)"
              >
                {{ item.name }}
              </button>
            </div>
            <span
              class="d-inline-block"
              tabindex="0"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="{{ item.data != '' ? item.data : item.information }}"
              data-bs-custom-class="beautifier"
              trigger="manual"
            >
              <i class="bi bi-info-circle infoIcon"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col showBorder d-flex flex-column justify-content-between form-outline"
      *ngIf="showInput"
    >
      <textarea
        type="text"
        class="form-control inputHeight mt-2 mb-2"
        id="inputText"
        rows="3"
        name="inputText"
        [(ngModel)]="inputTextStr"
        #inputText="ngModel"
        (keydown)="wordCounter(inputTextStr, $event)"
      ></textarea>
      <button
        type="button"
        class="btn btn-primary btnWidth mt-2 mb-2"
        (click)="generateOutput()"
      >
        Generate
      </button>
    </div>
    <div
      class="col showBorder d-flex flex-column justify-content-between form-outline"
      *ngIf="showOutput"
    >
      <textarea
        type="text"
        class="form-control inputHeight mt-2 mb-2"
        id="outputText"
        rows="3"
        name="outputText"
        [(ngModel)]="outputTextStr"
        #outputText="ngModel"
        readonly
      ></textarea>
      <button
        type="button"
        class="btn btn-primary btnWidth mt-2 mb-2 bi bi-clipboard buttonColor"
        (click)="copyContent()"
      >
        Copy
      </button>
    </div>
  </div>
</div>
<div
  class="toast-container position-absolute bottom-0 start-50 translate-middle-x"
>
  <div
    id="messageToast"
    class="toast align-items-center messageToast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">{{ message }}</div>
      <button
        type="button"
        class="btn-close me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <div
    id="errorToast"
    class="toast align-items-center errorToast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">{{ message }}</div>
      <button
        type="button"
        class="btn-close me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="openAiConfigsModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Update Configuration Values
        </h5>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="inputTemperature" class="col-sm-4 col-form-label"
            >Temperature</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="inputTemperature"
              [(ngModel)]="temperature"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="max_tokens" class="col-sm-4 col-form-label"
            >Max Tokens</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="max_tokens"
              [(ngModel)]="max_tokens"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="top_p" class="col-sm-4 col-form-label">Top P</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="top_p"
              [(ngModel)]="top_p"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="frequency_penalty" class="col-sm-4 col-form-label"
            >Frequency Penalty</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="frequency_penalty"
              [(ngModel)]="frequency_penalty"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="presence_penalty" class="col-sm-4 col-form-label"
            >Presence Penalty</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="presence_penalty"
              [(ngModel)]="presence_penalty"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="discardModalChanges()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveModalChanges()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div class="text-center spinner" *ngIf="showLoader">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
