/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: none;
}
.header {
  overflow: hidden;
  background-color: #674ea7;
  padding: 0px 10px;
  height: auto;
  color: #ffffff;
}
.headerText {
  font-size: 24px;
  font-weight: bold;
}
.itemLabel {
  height: 50px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
.itemPrompt {
  background-color: #9e9e9e;
  cursor: default;
  color: white;
}
.itemInputOutput {
  background-color: rgb(231, 238, 238);
  cursor: pointer;
}
.centerText {
  position: relative;
  top: 19%;
}
.isActive {
  background-color: gray;
  color: white;
}
.showScroll {
  overflow-y: auto;
  scroll-behavior: auto;
}

.pageHeight {
  height: 800px;
}

.showBorder {
  border: 1px solid rgb(199, 192, 192);
}
.btnWidth {
  width: 20%;
  align-self: center;
}
.inputHeight {
  height: 100%;
}
.activePromptBtn {
  color: blue;
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.promptText {
  text-align: left;
}
.infoIcon {
  font-size: x-large;
}
.pointerCursor {
  cursor: pointer;
}
textarea {
  resize: none;
}
::ng-deep .my-custom-class .arrow::before {
  border-top-color: black;
}
.beautifier {
  font-size: large;
}

.btn-primary {
  color: #fff;
  background-color: #674ea7;
  border-color: #674ea7; /*set the color you want here*/
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #000000;
  background-color: #674ea7;
  border-color: #674ea7; /*set the color you want here*/
}

.errorToast {
  background-color: red;
  color: white;
  font-size: medium;
  font-weight: 500;
}
.messageToast {
  background-color: #2e844a;
  color: white;
  font-size: medium;
  font-weight: 500;
}
